<template>

  <form id="project" action="http://localhost:4000/project/{{ id }}" method="post" v-on:submit.prevent="submit">

		<input name="id" type="hidden" placeholder="" value="{{ id }}">
		<input name="title" type="text" placeholder="Title of the project" value="<vue-escape> title </vue-escape>"required>
		<input name="description" type="text" placeholder="Describe the project" value="<vue-escape> description </vue-escape>">
		<input name="image" type="text" placeholder="Add an image for the project" value="<vue-escape> image </vue-escape>">
		<input name="link" type="text" placeholder="Add a link for this project" value="<vue-escape> link </vue-escape>">

  </form>

</template>

<script>

  export default {

    methods: {

      submit: function(e) {

        this.$http[ e.target.method ]( e.target.action, (data, err) => {
          console.log(data, err);
        });

      }

    },

    data() {

    },

    ready() {

    }

  }

</script>

<style>

</style>
