<template>

  <form id="project" action="http://localhost:4000/project" method="post" v-on:submit.prevent="submit">

		<input name="id" type="hidden" placeholder="" >
		<input name="title" type="text" placeholder="Title of the project" required>
		<input name="description" type="text" placeholder="Describe the project" >
		<input name="image" type="text" placeholder="Add an image for the project" >
		<input name="link" type="text" placeholder="Add a link for this project" >

  </form>

</template>

<script>

  export default {

    methods: {

      submit: function(e) {

        this.$http[ e.target.method ]( e.target.action, (data, err) => {
          console.log(data, err);
        });

      }

    },

    data() {

    },

    ready() {

    }

  }

</script>

<style>

</style>
