<template>

  <form id="project" action="http://localhost:4000/project/{{ id }}" method="delete" v-on:submit.prevent="submit">

		<input name="id" type="hidden" placeholder="" value="{{ id }}">

  </form>

</template>

<script>

  export default {

    methods: {

      submit: function(e) {

        this.$http[ e.target.method ]( e.target.action, (data, err) => {
          console.log(data, err);
        });

      }

    },

    data() {

    },

    ready() {

    }

  }

</script>

<style>

</style>
